* {
   margin: 0;
   padding: 0;
}

.container {
    background: aliceblue;
}

.suggestion-item:hover {
    background-color: aqua;
}

.type-sprite {
    width: 80px;
    height: auto;
    margin: 0 5px;
}